{%- assign lang = page.lang | default: 'tr' -%}
{%- assign max_related = site.related_blog_posts.max_related | default: 3 -%}
{%- assign related = site.related_posts | where_exp: "p", "p.url != page.url" -%}

{%- if related.size > 0 %}
<section class="related-posts">
  <h2>{% if lang == 'en' %}Read next{% else %}Sonraki okuma{% endif %}</h2>
  <ul class="side-list mt-3">
    {%- for post in related limit: max_related %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d.%m.%Y' }}</time>
    </li>
    {%- endfor %}
  </ul>
</section>
{%- endif %}
