<!DOCTYPE html>
{%- assign page_lang = page.lang -%}
{%- unless page_lang -%}
  {%- if page.url contains '/en/' -%}
    {%- assign page_lang = 'en' -%}
  {%- else -%}
    {%- assign page_lang = 'tr' -%}
  {%- endif -%}
{%- endunless -%}
<html lang="{{ page_lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
